

body {
    background:rgb(0, 102, 255);
    font-family: sans-serif;

    font-size: 20px;

    justify-content: center;

    text-align: center;

    margin: 10px auto;   
}



img {
    max-width: 100%;
    margin:0 10px;



}


.boton {
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #f7ae4f, #791515);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 0 black, 0 6px 10px black;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* Hover */
.boton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0 black, 0 8px 12px black;
}

/* Click */
.boton:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 black, 0 4px 6px black;
}


.izq{
    display: none;
}

