* {
    box-sizing: border-box;
}

html {
    background-color: coral;
}

body {
    max-width: 300px;
    margin: 25px auto;
    font-family: sans-serif;
    background: #FFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #000000ca;
    font-size: 20px;
}

table {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: -5px;
}

ul {
    list-style: none;
    padding-left: 0;

}

li {
    list-style: none;
    padding: 10px;
    border: solid 1px coral;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #00000044;
    margin-bottom: 10px;

}


/* li:hover{
    background-color: coral;
    color:#FFF;
    scale: 0.7;
    cursor:default;
    
} */

/* strong{
    color:red;
} */