body {
    background: rgb(117, 101, 101);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    max-width: 800px;

    font-size: 40px;

    text-align: center;

    margin: 0 auto;

    padding-top: 30px;
}



