body {
    background: rgb(117, 101, 101);
    font-family: sans-serif;
    max-width: 800px;

    font-size: 20px;

    justify-content: center;

    text-align: center;

    margin: 0 auto;
    padding-top: 30px;
}

textarea {
    font-size: 20px;

}

.textoUsuario {
    
    width: 80%; 
    max-width: 500px;
    height: 150px;
    min-width: 200px;
    
    box-sizing: border-box;
    
}

img {
    max-width: 100%;



}