body {

    min-width: 500px;
    justify-content: center;
    align-items: center;
    background: #a86c6c;
    font-family: Arial, sans-serif;

}

img {
    max-width: 100%;
}

.BotonMenuPrincipal {
    min-width: 300px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
}


.textoUsuario-TiempoTexto {

    font-size: 20px;
    width: 300px;
    max-width: 500px;
    height: 150px;
    min-width: 200px;

    box-sizing: border-box;

}



.botonEmpezarTiempo-TiempoTexto {

    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: -30px;
    min-width: 50px;
    min-height: 30px;

}

.textAreaBotones-TiempoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;

}



body.cuentaletras ul.palabrasLetrasAContrar {

    display: none;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    



}

body.cuentaletras button.botonEmpezar {

    display: block;
    margin: 0 auto;

}