:root {
    --border-scale: 0.6;
}


body {
    margin: 0;
    min-height: 100vh;
    background: #0f2027;
    overflow: hidden;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transicion */
    transition: opacity 0.6s ease;
    opacity: 1;

}

body .neon-particle {

    position: absolute;
    width: 5px;
    height: 5px;
    background: #00ffcc;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation-name: float;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

img {
    max-width: 100%;
}

@keyframes float {
    0% {
        transform: translateY(100vh) translateX(0);
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) translateX(200px);
        opacity: 0;
    }
}

main {
    /* para el blur */
    position: relative;
    z-index: 1;
}



body.fade-out {

    opacity: 0;
    transform: scale(0.95);
}

html,
body {
    height: 100%;
    margin: 0;
}

body.index main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin-top: -150px;
}

body.index .copy {
    color: grey;
}



@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



body.index .logo {

    position: relative;
    display: inline-block;
    margin-top: -20px;


}

@keyframes neonPulse {

    0%,
    100% {
        box-shadow:
            0 0 10px #00ffcc,
            0 0 20px #00ffcc;
    }

    50% {
        box-shadow:
            0 0 20px #00ffcc,
            0 0 30px #00ffcc,
            0 0 40px #00ffcc;
    }
}

body.index .logo img {

    display: block;
    max-width: 250px;
    height: auto;
    padding-top: 6px;


}


body.index .logo::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #00ffcc;
    border-radius: 100%;
    width: 100%;
    height: 96%;
    box-shadow:
        0 0 10px #00ffcc,
        0 0 20px #00ffcc,
        0 0 30px #00ffcc;
    pointer-events: none;

    transform: scale(var(--border-scale));
    transform-origin: center;
    animation: neonPulse 3s ease-in-out infinite;



}


body.index button {

    position: relative;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #00ffcc;
    border-radius: 15px;
    backdrop-filter: blur(6px) saturate(200%);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    width: 250px;

    height: 100px;

    transition: all 0.3s ease;

}

body.TiempoTexto button,
body.cuentaletras button {

    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #00ffcc;
    border-radius: 15px;
    backdrop-filter: blur(6px) saturate(200%);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    width: 180px;
    height: 60px;
    transition: all 0.3s ease;
}



body.index button::before,
body.TiempoTexto button::before,
body.cuentaletras::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0) 80%);
    pointer-events: none;
    mix-blend-mode: overlay;

}


body.index button:hover,
body.cuentaletras button:hover {
    background: rgba(0, 255, 204, 0.15);
    box-shadow: 0 0 30px rgba(0, 255, 204, 0.8);
    transform: scale(1.05);

}

body.TiempoTexto .botonEmpezarTiempo-TiempoTexto:hover {
    letter-spacing: 20px;
    border-color: #00ffcc;
    box-shadow: 0 0 25px rgba(0, 255, 204, 1), 0 0 50px rgba(0, 255, 204, 0.5);
    /* efecto de luz más intenso */
    transition: all 0.8s ease;
}

/* Al mantener pulsado */
body.index button:active,
body.TiempoTexto button:active,
body.cuentaletras button:active {
    box-shadow: 0 0 30px #0ff;
    background: #00aaff;
    letter-spacing: 2px;
}

/* Cambia la distribucion de los elementos
en funcion del tamaño de la pantalla */
@media (max-width: 600px) {
    body.index main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 50px;
    }

    body.index .logo {
        display: none;
    }

}


body.TiempoTexto .contenedorPrincipal {


    background: rgba(26, 24, 24, 0.767);
    border-radius: 10%;
    backdrop-filter: blur(6px) saturate(200%);
    padding: 10px 30px;

}

body.TiempoTexto .img {
    max-width: 40%;
}

body.TiempoTexto .textoUsuario-TiempoTexto.bloqueado {
    color: #00ffcc;
    text-align: center;
    font-weight: bold;
}

body.TiempoTexto .instruccion {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

body.TiempoTexto .instrucciones {

    border: 2px dashed #00ffcc !important;
    font-weight: bold;
}

body.TiempoTexto .texto {
    font-family: monospace;
    font-weight: bold;
}

body.TiempoTexto .textoUsuario-TiempoTexto {

    width: 556px;
    height: 85px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: 2px solid #00ffcc;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    margin-bottom: 20px;
    resize: none;
    line-height: 1.4;
    padding-top: calc(20px + 10px);
    padding-left: 15px;
    transform: scale(0.95);

}


body.TiempoTexto .transformado .botonEmpezarTiempo-TiempoTexto {
    opacity: 0;
    transform: scale(1.05);
    pointer-events: none;
}

body.TiempoTexto .transformado .textoUsuario-TiempoTexto {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

body.TiempoTexto .resultadoTiempo {

    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px) saturate(200%);
    border: 2px solid #00ffcc;
    box-shadow: 0 0 25px rgba(0, 255, 204, 0.6);
    text-align: center;
    display:none;
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

body.TiempoTexto .botonEmpezarTiempo-TiempoTexto,
body.TiempoTexto .textoUsuario-TiempoTexto {
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

body.cuentaletras .instrucciones {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px) saturate(200%);
    border: 2px solid #00ffcc;
    box-shadow: 0 0 25px rgba(0, 255, 204, 0.6);
    text-align: center;
    border: 2px dashed #00ffcc !important;
    padding: 25px;

}

body.TiempoTexto .textoUsuario-TiempoTexto {
    transform-origin: center;
}

body.TiempoTexto .oculto {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(20px) scale(0.95);
}

body.TiempoTexto .resultadoTiempo.mostrar {
    display: block;
    margin: 0;
    padding: 20px 30px;
    opacity: 1;
    transform: translateY(-8px) scale(1);
}
body.TiempoTexto .botonEmpezarTiempo-TiempoTexto.mostrar {
    display: block;
    margin-top: 20px;
    padding: 20px 30px;
    opacity: 1;
    transform: translateY(-8px) scale(1);
}
body.TiempoTexto .reintentar{
    display:none;
    
}




body.TiempoTexto .botonesFila {

    display: flex;
    gap: 10px;
    justify-content: center;

}

body.TiempoTexto .botonEmpezarTiempo-TiempoTexto {
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #00ffcc;
    color: #1b1414;
    font-weight: 900;
    width: 556px;
    height: 85px;
    transition: all 0.8s ease;
    letter-spacing: 0;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    border-color: #00ffcc;
}


body.TiempoTexto .textAreaBotones-TiempoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 556px;
    height: 85px;

}

body.TiempoTexto .textAreaBotones-TiempoTexto>button,
body.TiempoTexto .textAreaBotones-TiempoTexto>textarea {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

body.TiempoTexto .tiempo {
    font-size: 15px;
    white-space: nowrap;
    transition:
        font-size 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

body.TiempoTexto .tiempo.cambio {
    opacity: 0;
    transform: scale(0.9);
}

body.TiempoTexto .divTexto {

    position: relative;
    font-size: 15px;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    margin-bottom: 20px;
    padding: 15px;

}
body.TiempoTexto .divTiempo {

    margin: 0 auto;
    color: #00ffcc;
    background: transparent;
    border: 2px solid #00ffcc;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    margin-bottom: 20px;
    width: fit-content;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    will-change: transform;
    transform-origin: center;

    transition:
        background-color 1s ease,
        opacity 0.8s ease,
        transform 0.8s ease,
        height 0.8s ease,
        margin 0.8s ease,
        padding 0.8s ease;
    
    overflow: hidden;
    transform-origin: center;
    height: auto;
    padding: 0.5em 1em;


}

body.TiempoTexto .divTiempo.ocultar {
    opacity: 0;
    transform: scale(0);


}


body.TiempoTexto .divTiempo.animar {
    transform: scale(0);
}

body.cuentaletras ul.palabrasLetrasAContrar {

    display: none;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 20px;

}


body.cuentaletras .textoInformativo {

    border: 2px solid #00ffcc !important;
}

body.cuentaletras .tiempo {

    font-size: 15px;
    white-space: nowrap;
    transition:
        font-size 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

body.cuentaletras .divTiempo {
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #00ffcc;
    border-radius: 15px;
    backdrop-filter: blur(6px) saturate(200%);
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    margin-bottom: 20px;
    padding: 10px 14px;
    width: 200px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    will-change: transform;
}

body.cuentaletras .divTiempo.animar {
    transform: scale(1.1);
}

body.cuentaletras .tiempo.cambio {
    opacity: 0;
    transform: scale(0.9);
}

body.cuentaletras .botonesFila {

    justify-content: center;

}

body.Sudoku textarea {

    resize: none;
}

body.Sudoku table {
    display: none;
}

body.Punteria table {
    border-collapse: collapse;
    margin-left: 50px;
}

body.Punteria td {
    width: 30px;
    height: 30px;
    background-color: red;
    border: 2px solid #1b1414;

}