*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Variables
 */
:root {
    --ColorPrincipal:coral;
    --ColorSecundario: purple;
    --Posicion:center;
}


html {
    border-top: var(--ColorSecundario) 25px solid;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background: var(--ColorPrincipal);

    max-width: 580px;
    margin: 0 auto;

    padding: 20px 8px;
    

}

a {
    text-decoration: none;
    color: var(--ColorPrincipal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--ColorPrincipal);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--ColorSecundario);
}

img {
    max-width: 100%;
    display: block;
}


ul.menu {
    list-style: none;
    padding-left: 0;

    display: flex;
    gap: 8px;
}


header {
    border-radius: 20px 20px 0 0;
    border-bottom: var(--ColorSecundario) 5px solid;
}

footer {
    border-radius: 0 0 20px 20px;
    border-top: var(--ColorSecundario) 5px solid;
}


header,
footer {
    padding: 20px;
    background: #000;
    color: #FFF;
}

main {
    background: #FFF;
    padding: 20px;
}

.menu-header {
    font-size: 20px;
}

.menu-legal {
    font-size: 10px;
}


footer .menu {
    justify-content: var(--Posicion);
}

footer {
    text-align: var(--Posicion);
}





.galeria {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.galeria img {
    border-radius: 20px;
    border: solid 2px var(--ColorPrincipal);
    flex: 1 1 0;
    max-width: 120px;
    transition: .3s;
}

.galeria img:hover {
    border: var(--ColorSecundario) solid 4px;
    box-shadow: 2px 2px 10px var(--ColorSecundario);
    scale: 1.1;
}

a.btn,
a.btn.nodestacado:hover {
    display: block;
    border-radius: 20px;
    background: var(--ColorPrincipal);
    text-align: center;
    color: white;
    padding: 5px 12px;
    margin: 8px auto;
    max-width: 320px;
    border: solid 2px var(--ColorPrincipal);

}

a.btn.nodestacado,
a.btn:hover {
    background: #FFF;
    border: solid 2px var(--ColorPrincipal);
    color: var(--ColorPrincipal);
}