* {
    box-sizing: border-box;
}

html {
    background-color: coral;
}

body{
    justify-content: center;
    margin: px auto;
    text-align:center;

}
/* 

img{
    scale: 1/3;
    max-width: 300px;
}

.iluminado{
    color: yellow;
}
 */
/* li:hover{
    background-color: coral;
    color:#FFF;
    scale: 0.7;
    cursor:default;
    
} */

/* strong{
    color:red;
} */

.boton{

    margin-bottom: 10px;
}