* {
    /* Resetea los estilos */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --colorprincipal: #FF0E0E;
    --colorsecundario: #3C6F24;
    --colorterciario: #FF2F2FE5;
    --colorletras: white;
    --tiempodetransicion:3s;

}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    margin: 0, auto;

}

a {
    text-decoration: none;
    color: var(--colorletras);
}

img {
    /*     La imagen toma como maximo el tamaño maximo de la propia imagen 
 */
    max-width: 100%;
}

h1 {
    font-size: 25px;
    font-weight: 800;
}


.TopList {

    list-style: none;
    padding-right: 150px;
    padding-left: 150px;

    padding-top: 25px;
    padding-bottom: 8px;

    display: flex;

    /* Adaptacion al ancho de la pagina */
    flex-wrap: wrap;

    background-color: var(--colorprincipal);
    color: var(--colorletras);

    justify-content: space-between;

    gap: 12px;

    font-size: 25px;


}

.Imagen3CafesPrincipal {
    background-color: var(--colorprincipal);
    padding-bottom: 4px;


}

.ListaImagenes {

    list-style: none;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    /*     Reduce su tamaño cuando se reduce el tamaño de la pagina
 */
    flex: 1 1 0;


}

.ListaImagenes img {

    max-width: 350px;
    aspect-ratio: 3/4;
    object-fit: cover;

    border-radius: 40px;

    transition: var(--tiempodetransicion);

}

.ListaImagenes img:hover{

        max-width: 500px;

}

.TextoTarjetaFidelidad p {
    font-size: 30px;
    padding-left: 10px;

}

.TextoDesayunoGratis {
    padding-left: 25px;
}

.ListaTarjetas {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    margin-top: 40px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 40px;

}

.ListaTarjetas img {

    max-width: 600px;

}

.DivPastelyTexto {
    position: relative;
}



.DivTextoPastel {

    position: absolute;
    bottom: 20px;
    left: 10px;
    color: var(--colorletras);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 6px #050505;
    text-align: center;
}

.columnas2 {
    margin: 0 10px;
    color: var(--colorletras);
    background-color: var(--colorterciario);
    display: flex;

    min-height: 300px;


}

.columnas2 .imagen {

    background: url(img/ImagenCopaChocolateConNata.png) right center no-repeat;

    background-size: cover;
    /* Esto indica cuanto espacio va a ocupar la imagen con respecto a todo el contenedor columnas2 */
    width: 50%;



}

.columnas2 .texto {

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 5px;

    width: 50%;

}

.columnas2 .texto h2 {
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 34px;
}

.columnas2 .texto p {

    padding-left: 10px;

    font-size: 26px;
}


.btn {
    color: var(--colorletras);
    text-decoration: none;

    letter-spacing: 2px;
    padding: 10px;
    border: solid 5px white;
    display: block;
    font-size: 20px;
    max-width: 200px;
    text-align: center;
    margin: 30px auto;
}

.FormularioQR {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--colorprincipal);
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: var(--colorletras);
    font-size: 26px;



}

.FormularioQR img {
    margin-top: 20px;

}



.FormularioQR .QR img {
    max-width: 125%;
    width: 125%;
}

.QR {
    margin-right: 70px;
}

.Mapa {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorprincipal);
    color: var(--colorletras);
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 10px;


}

.Mapa img {
    border-radius: 60px;

    margin-bottom: 40px;
}

.Mapa h2 {
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;

}

.CalleCompleta {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}

.Calle {
    font-size: 30px;
}

.CodigoPostal {
    font-size: 30px;
    margin-top: -70px;
    margin-left: 60px;

}

.Telefono {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px;

}

.ImagenTelefono {

    max-width: 15%;
    width: 15%;
}

.TextoTelefono {
    font-size: 30px;

}

footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--colorsecundario);
    margin-top: 40px;

}

.ListadeEnlacesFooter {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
    margin-left: 60px;
    color: var(--colorletras);
    font-weight: bold;
    font-size: 25px;
}

.FooterImagen img {
    max-width: 80%;

    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.Copy {
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(29, 28, 28);
}