* {
    box-sizing: border-box;
}

html {
    background-color: coral;
}

body{
    justify-content: center;
    margin: px auto;
    text-align:center;

}

img{
    scale: 1/3;
    max-width: 300px;
}

.iluminado{
    color: yellow;
}

