body {
    margin: 0;
    min-height: 100vh;
    background: #0f2027;
    overflow: hidden;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transicion */
    transition: opacity 0.6s ease;
    opacity: 1;
}


body.fade-out {

    opacity: 0;
    transform: scale(0.95);
}

html,
body {
    height: 100%;
    margin: 0;
}

body.index main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    /* para el blur */
    position: relative;
    z-index: 1;
}


body.index .neon-particle {

    position: absolute;
    width: 5px;
    height: 5px;
    background: #00ffcc;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation-name: float;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        transform: translateY(100vh) translateX(0);
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) translateX(200px);
        opacity: 0;
    }
}





body.index button {

    position: relative;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #00ffcc;
    border-radius: 15px;
    backdrop-filter: blur(2px) saturate(200%);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
    width: 250px;

    height: 100px;

    transition: all 0.3s ease;

}

body.index button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0) 80%);
    pointer-events: none;
    mix-blend-mode: overlay;

}


body.index button:hover {
    background: rgba(0, 255, 204, 0.15);
    box-shadow: 0 0 30px rgba(0, 255, 204, 0.8);
    transform: scale(1.05);

}

/* Al mantener pulsado */
body.index button:active {
    box-shadow: 0 0 30px #0ff;
    background: #00aaff;
    letter-spacing: 2px;
}

@media (max-width: 600px) {
    body.index main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}


img {
    max-width: 100%;
}


.textoUsuario-TiempoTexto {

    font-size: 20px;
    width: 300px;
    max-width: 500px;
    height: 150px;
    min-width: 200px;

    box-sizing: border-box;

}



.botonEmpezarTiempo-TiempoTexto {

    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: -30px;
    min-width: 50px;
    min-height: 30px;

}

.textAreaBotones-TiempoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;

}



body.cuentaletras ul.palabrasLetrasAContrar {

    display: none;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 20px;




}

body.cuentaletras button.botonEmpezar {

    display: block;
    margin: 0 auto;

}

body.Sudoku textarea {

    resize: none;
}

body.Sudoku table {
    display: none;
}

body.Punteria table {
    border-collapse: collapse;
    margin-left: 50px;
}

body.Punteria td {
    width: 30px;
    height: 30px;
    background-color: red;
    border: 2px solid #1b1414;

}