body {
    background: rgb(58, 72, 199);
    font-family: sans-serif;
    max-width: 800px;

    font-size: 20px;

    justify-content: center;

    text-align: center;

    margin: 0 auto;
    padding-top: 30px;
}



img {
    max-width: 100%;

}

footer {
    margin: 20px auto;
}

a {
    color: azure;
}

a:hover {
    color: blueviolet;
}

body.index ul {
    list-style: none;
}

body.SobreNosotros p {
    text-align: left;
}

body.VendeNaves form {
    text-align: left;

}

.TituloNave {
    font-size: 30px;
    text-decoration: underline;
}