html {
    /*     Cuando te desplazas por la pagina usando un enlace va mas suave
 */
    behavior: smooth;
}

:root {
    --colorprincipal: black;
    --colorsecundario: rgb(10, 114, 114);
    --colorterciario: #9688b1;
    --borde: #FF8C42;


}

@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

#videojuegos {
    --Colorfondo: #0A7272;
    --Colorsecundario: #FF6B6B;
}

#ilustracion {
    --Colorfondo: #516ab1;
    --Colorsecundario: #F59E0B;


}

#animacion {
    --Colorfondo: #8870ad;
    --Colorsecundario: #FFD166;

}

#diseno-grafico {
    --Colorfondo: #047857;
    --Colorsecundario: #F43F5E;

}

#faq-general {
    --Colorfondo: #1cb95d;
    --Colorsecundario: #06B6D4;


}


body {
    /* background: rgb(240, 229, 229); */
    background-color: #8ed4c0;
    margin: 20px auto;
    max-width: 800px;
    justify-content: center;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(182, 100, 33);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Meie Script", cursive;
}

img {
    /*     La imagen toma como maximo el tamaño maximo de la propia imagen 
 */
    max-width: 100%;
}

.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(17, 9, 1);


}

a:hover {
    color: blue;
    text-decoration: underline;
}

.carrera {
    background-color: var(--Colorsecundario);
    border-radius: 60px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 70px;
    border: 2px solid var(--borde);
}

.carrera h2 {
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 30px;



}

.carrera h3 {

    color: var(--colorprincipal);

}

.galeria {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


}

.galeria img {

    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.bloque,
.galeria {
    border: 2px solid var(--borde);
    margin-right: 80px;
    margin-bottom: 30px;
    margin-left: 60px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 40px;
    background-color: var(--Colorfondo);
    color: #2e2ca3;
    justify-content: center;

}

.cursos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    justify-content: center;
    text-align: center;
}

.social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.faq {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.faq h3 {
    text-align: center;
}

/*  */
.form {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--colorsecundario);
    color: black;
}

.form h2 {
    text-align: center;

}

.video {
    border-radius: 40px;
    max-width: 600px;
    margin-left: 100px;
    height: 450px;
}